<!doctype html>
<html lang="en">
<body>
<h1>Questions for '<%=@test.title%>' test:</h1>
<div>
  <% if @test%>
    <% @test.questions.each do |q| %>
      <b><%= q.body %></b>
      <%= link_to "Delete", question_path(q.id), method: :delete, data: {confirm: "Are you sure?"} %>
      <%= link_to 'Edit', edit_question_path(q.id) %>
      <br>
    <% end %>
  <% end %>
</div>
<p> <%= link_to 'Create_question',new_test_question_path %></p>
<%= link_to 'Back', test_path(@test) %>
</body>
</html>
