<h1><%= t('.completed', test: @test_passage.test.title) %></h1>

 <% if @test_passage.result? %>
  <%= t('.win')%>  <a style="color:forestgreen"><%=@test_passage.test_score %></a> %
  <%else %>
  <%= t('.failed')%><a style="color:darkred"><%=@test_passage.test_score %></a>
  <%end %>

<p><%= link_to t('helpers.main.return'), root_path %></p>
