<h1><%=t('helpers.label.answer.body') %></h1>
<div>
  <% @question.answers.each do |a| %>
    <b><%= a.body %></b>
    <%= link_to t('admin.tests.test.edit'), edit_admin_answer_path(a.id) %> |
    <%= link_to t('admin.tests.test.delete'), admin_answer_path(a.id), method: :delete, data: { confirm: t('admin.tests.test.sure?') } %> |
    <br>
  <% end %>
</div>
<p> <%= link_to 'Create_answer', new_admin_question_answer_path %></p>


