<h1><%= t('tests.index.header') %></h1>
<%= form_with model: [:admin,@test], local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %><br>
  </div>
  <button type="button" class="btn btn-outline-info"><%= link_to t('admin.tests.show.new_question'), new_admin_test_question_url(@test.id) %></button>
  <div>
    <%= form.submit %>
  </div>
<% end %>
